/**
 * Monospace font family
 */
.font-mono {
  font-family: "Courier New", Courier, monospace;
}
/**
 * Display text vertically
 */
.vertical-text {
  -webkit-transform-origin: top left;
  -webkit-transform: rotate(-90deg);
  -moz-transform-origin: top left;
  -moz-transform: rotate(-90deg);
  -ms-transform-origin: top left;
  -ms-transform: rotate(-90deg);
  -o-transform-origin: top left;
  -o-transform: rotate(-90deg);
  transform-origin: top left;
  transform: rotate(-90deg);
}
/**
 * @type Type of box sizing, eg border-gox, content-box
 */
/**
 * @radius Radius of the border
 */
/**
 * @note lessphp does not work with @arguments (possible bug).
 * @rest...
 */
/**
 * @shadow-h    Horizontal shadow position
 * @shadow-v    Vertical shadow position
 * @blur        Blur distance
 * @color       Shadow color
 * @opacity     Shadow opacity
 */
